<p>
  Thank your for your interest in this
  <a href="{{site.dc_site}}" target="_blank">Data Carpentry</a>
  workshop. The ever-increasing digital nature of research requires researchers,
  postgraduate students, and research-support staff to equip themselves with the
  skills to create, manipulate and manage data in digital format. 
  Today, researchers can perform simple to complex data management
  through open source tools and techniques which do not require highly specialist skills. 
  This hands-on workshop will assist you to learn more about basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p>
This workshop is funded by the <a target="_blank" href="https://f1000research.com/articles/6-1040/v1">Elixir-Carpentries</a> 
  agreement and organised by <a target="_blank" href="http://elixir-belgium.org/">Elixir Belgium</a>. The trainers are all 
  certified carpentry instructors who come from 
  <a target="_blank" href="https://lifewatch.inbo.be/blog/">LifeWatch INBO</a>, 
  <a target="_blank" href="http://www.vib.be">VIB</a>, and
  <a target="_blank" href="http://www.giga.uliege.be/cms/j_6/en/home-internet">Giga institute/a>.
</p>
