<div class="row">
  <div class="col-md-6">
    <h3>June 12</h3>
    <table class="table table-striped">
      <tr><td>09:00 </td> <td> <a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/" target="_blank">
        Data organization in spreadsheets</a></td></tr>
      <tr><td>11:05</td><td>Motivation and use cases of databases and R resources</td></tr>
      <tr><td>13:00</td><td><a href="http://www.datacarpentry.org/sql-ecology-lesson/" target="_blank">
        Databases introduction with SQLite</a></td></tr>
      <tr> <td>17:00</td> <td>Optional self-organised getting together after the workshop</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>June 13</h3>
    <table class="table table-striped">
      <tr><td>09:00</td> <td><a href="http://www.datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html" target="_blank">
        R projects and visualisation using ggplot2</a></td></tr>
      <tr><td>11:00</td><td><a href="http://www.datacarpentry.org/R-ecology-lesson/03-dplyr.html" target="_blank">
        Data manipulation using dplyr and tidyr</a></td></tr>
      <tr><td>13:30</td><td><a href="http://www.datacarpentry.org/R-ecology-lesson/05-r-and-databases.html" target="_blank">
        R and databases using RSQLite</a></td></tr> 
      <tr><td>15:00</td><td>R and version control using git</td></tr>
    </table>
  </div>
</div>
