<p id="who">
  <strong>Who:</strong>
  This workshop is aimed to life scientist at all career stages, from undergrads to senior scientists.
  It is an <strong>introductory workshop</strong> to data management, databases, and data analysis in R.
  We recommend participants to have a basic understanding of R and its data types. We can send resources 
  for people who need an introduction to R before this workshop. 
  The level of this workshop is from beginner to intermediate, we will not cover advanced materials. 
  If you are already familiar with the topics listed in the schedule you might not benefit from this workshop.
  But please contact us if you would like a more advanced workshop in any of the topics listed here.
  Please also contact us if you would like to be a helper in this workshop.
</p>
